{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-5 mx-5 border border-dark">
        <table class="table table-striped">
            <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Obrázek</th>
                <th scope="col">Název CD</th>
                <th scope="col">Interpret</th>
                <th scope="col">Album</th>
                <th scope="col">Žánr</th>
                <th scope="col">Rok vydání</th>
                <th scope="col">Cena</th>
                <th scope="col">Hodnocení</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end">
                    <a href="{{ path('cd_new') }}" class="btn btn-success">Nový</a>
                </td>
            </tr>
            {% for cd in cds %}
                <tr class="text-center">
                    <td scope="row">
                        {{ cd.id }}
                    </td>
                    <td scope="row">
                        <img src="{{ asset('build/images/cds/' ~ cd.image ) }}">
                    </td>
                    <td>
                        {{ cd.title }}
                    </td>
                    <td>
                        {{ cd.artist }}
                    </td>
                    <td>
                        {{ cd.album }}
                    </td>
                    <td>
                        {{ cd.genre }}
                    </td>
                    <td>
                        {{ cd.releaseYear|date("d.m.Y") }}
                    </td>
                    <td>
                        {{ cd.price }} CZK
                    </td>
                    <td>
                        {{ cd.rating }}%
                    </td>
                    <td class="text-end">
                        <a href="{{ path('cd_detail', { id: cd.id } ) }}" class="btn btn-info">Zobrazit</a>
                        <a href="{{ path('cd_edit', { id: cd.id } ) }}" class="btn btn-warning">Upravit</a>
                        <a href="{{ path('cd_delete', { id: cd.id } ) }}" class="btn btn-danger">Smazat</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}